@charset "UTF-8";

.blog_content {
	float: left;
	height: auto;
	width: 600px;
	padding-left: 50px;
	padding-top: 167px;
}
.blog {
	height: auto;
}
.blog_image {
	float: left;
}
.blog_text {
	float: left;
	padding-bottom: 25px;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	height: auto;
}
h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
}
#blog_container{
	width: 80%;
	height: 100%;
	float: right;
	position: relative;
}
