@charset "UTF-8";

.exhibitions_list_container {
	width: 60%;
	height: auto;
	padding: 20px;
}

.exhibitions_list_container:hover {
	background-color: #1F1F1F;
}

.exhibitions_list_status_text {
	font-size: 25px;
	color: #75130A;
	line-height: 26px;
	margin-bottom: 20px;
	font-family: sans-serif;
	width: auto;
}

.current, .upcoming {
	float: left;
	width: 45%;
}


#onview, #archive {
	padding: 10px;
	position: relative;
	width: 100%;
	float: left;
}