@charset "UTF-8";

p, body, ul, nav, section, span {
	margin: 0;
	padding: 0;
}

#current {
	float: left;
	display: inline-block;
	width: 50%;
}
#upcoming {
	float: right;
	display: inline-block;
	width: 50%;
}
#onview {
/*	margin-bottom: 200px;*/
	padding: 10px;
	top: 150px;
	position: absolute;
	float: left;
}

#archive {
	padding: 10px;
	top: 530px;
	position: absolute;
	float: left;
}

#sidebar {
	position: absolute;
	float:left;
	width:20%; 
	height:100%; 
	top: 15%;
}

#container{
	width: 80%;
	height: 100%;
	float: right;
	position: relative;
}

.home {
	margin-top: 100px;
	border: 5px double #FFF;
	width: 400px;
	height: 300px;
	display: inline-block;
	text-align: center;
	padding-top: 190px;
}

div.home a {
	font-family: sans-serif;
	font-size: 50px;
	color: #FFF	
}

/****** See what this is like with % instead of px


.home {
	margin-top: 100px;
	border: 5px double #FFF;
	width: 400px;
	height: 300px;
	display: inline-block;
	text-align: center;
	padding-top: 190px;
}

div.home a {
	font-family: sans-serif;
	font-size: 50px;
	color: #FFF	
}*/

header {
	float: left;
	height: auto;
	width: 100%;
	padding-top: 20px;
	position: fixed;
	top: 0px;
	left: 0px;
	padding-bottom: 100px;
	background-color: #000;
	z-index: 1;
}

nav {
	height: 100%;
	width: 20%;
	float: left;
	position: fixed;
	padding-left: 30px;
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 20px;	
}

nav a {
	color: white;
}
nav ul {
	list-style: none;
	margin-left: 20px; 

}

nav ul li {
	/*display: inline-block;*/
	margin: 25px;
}

	
h2{
	font-size:10px;
	margin:15px 0 0 0;
	line-height: 50px;
	font-family: Helvetica, Arial, sans-serif;
}
/*dfn {
	font-size:10px;
	font-family: Helvetica, Arial, sans-serif;
	color: #999999;
	font-style: normal;
}*/
body {
	/*font: Helvetica, Arial, sans-serif;*/
	color: #FFF;
	background-color: #000; 
}
a:link {
	color: #FFF;
	text-decoration: none;
}
/*a:visited {
	text-decoration: none;
	color: #000000;
}*/
/*a:hover {
	text-decoration: none;
	color: #000000;
}*/
a:active {
	text-decoration: none;
	color: #000000;
}
/*a.nav:link {
	text-decoration: none;
	color: #666666;
}*/
/*a.nav:visited {
	text-decoration: none;
	color: #666666;
}
a.nav:hover {
	text-decoration: none;
	color: #777;
}
a.nav:active {
	text-decoration: none;
	color: #666666;
}


a.nav_on:link {
	color: #000000;
	text-decoration: none
}
a.nav_on {
	color: #FFF;
	text-decoration: underline;
}
a.nav_on:visited {
	color: #FFF;
	text-decoration: none
}
a.nav_on:hover {
	color: #666;
	text-decoration: none
}*/

/*.background {
	height: auto;
	width: 1024px;
	background-color: #000;
	float: left;
}*/

.logo {
	border: 5px double #FFF;
	height: 60px;
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: #000;
	padding: 10px;
}

.logo_style {
	text-align: center;
	font-family: sans-serif;
	color: #FFF;
	font-size: 40px;
}

.logo a:visited {
	color: #FFF;
}


}




/*#nav { 
	margin: 0;
	list-style: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	padding-left: 26px;
} */

/*nav ul { /* all lists */
	/*padding: 0;
	margin: 0;
	list-style: none;
}*/

/*nav a {
	display: block;
	width: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	background-color: #FFFFFF;
	padding-top: 5px;
	height: 16px;
}*/
/*
#nav li {  all list items 
	float: left;
	width: inherit;
	height: 25px;
}

#nav li ul {  second-level lists 
	position: absolute;
	width: 150px;
	left: -999em; using left instead of display to hide menus because display: none isn't read by screen readers 
	color: #FFFFFF;
	font-size: 11px;
}*/

/*#nav li ul ul { third-and-above-level lists 
	margin-left: 150px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: -38px;
}

#nav li:hover ul ul, #nav li.sfhover ul ul {
	left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul { lists nested under hovered list items 
	left: auto;
}*/

/*Exhibitions.html*/




a.title:link {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
	font-style: italic;
}
a.title:active {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
	font-style: italic;
}
a.title:visited {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
	font-style: italic;
}
a.title:hover {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
	font-style: italic;
}
.name {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFF;
	text-decoration: none;
	font-size: 16px;
	/*line-height: 26px;*/
}


a.name:link {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	/*line-height: 26px;*/
}
a.name:active {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
}
a.name:visited {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
}
a.name:hover {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
}
a.collaboration:link {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666666;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	width: 190px;
}
a.collaboration:active {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666666;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
}
a.collaboration:visited {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666666;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 16px;
	font-size: 12px;
}
a.collaboration:hover {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 16px;
	font-size: 12px;
}
.sub {
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666666;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 22px;
}


a.sub:link {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666666;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 22px;
}
a.sub:active {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666666;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 22px;	
}
a.sub:visited {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666666;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 22px;
	font-size: 14px;
}
a.sub:hover {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666666;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 22px;
	font-size: 14px;
}


a.press:link {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #999999;
	font-size: 14px;
	text-decoration: none;
	line-height: 22px;
}
a.press:active {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #999999;
	font-size: 14px;
	text-decoration: none;
	line-height: 22px;
}
a.press:visited {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #999999;
	font-size: 14px;
	text-decoration: none;
	line-height: 22px;
}
a.press:hover {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-decoration: none;
	line-height: 22px;
	color: #333333;
	text-decoration: none;
}
.artist_list {
	float: left;
	height: 678px;
	width: 950px;
	padding-left: 50px;
	padding-top: 167px;
	clear: left;
	padding-bottom: 50px;
}
.artist_list_left {
	height: auto;
	width: 175px;
	float: left;
	padding-right: 25px;
}
.artist_content {
	float: left;
	width: 724px;
	padding-top: 101px;
	padding-left: 250px;
}
#artist_list_123 {
	height: auto;
	width: 190px;
	border: 0px;
	float: left;
}
.artist_list_abc {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #CCCCCC;
}
.float_left {
}
.image_center {
}
.no_border {
	padding: 0px;
	border-width: 0px;
	margin: 0px;
	float: left;
}
.thumbs_border {
	padding: 0px 25px 25px 0px;
	border-width: 0px;
	margin: 0px;
	float: left;
}
.side_bar {
	width: auto;
	height: 100%;
	position: fixed;
	left: inherit;
	right: 0px;
	background-color: #FFFFFF;
	float: right;
	z-index: 20;
}
.info_text {
	font-size: 10px;
	color: #666666;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 25px;
}
.blackout {
	color: #000;
	background-color: #000;
}
