@charset "UTF-8";

h1, h2, h3, h4, h5, h6, a, ul, ol, li, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   background: transparent; 
   text-decoration: none;
}

a:visited { text-decoration: none; color: #C93337;}

a {
	color: #C93337;
}

nav ul li a:hover { text-decoration: none; color: #C97C7A; }

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}


#sidebar {
	position: absolute;
	float:left;
	width:20%; 
	height:100%; 
	top: 15%;
}

#container{
	width: 100%;
	height: 100%;
	float: right;
	position: relative;
	top: 100px;
	text-align: center;
}

#exh_container {
	top: 100px;
	width: 80%;
	height: 100%;
	float: right;
	position: relative;
}

.home {
	margin-top: 100px;
	border: 5px double #FFF;
	width: 400px;
	height: 300px;
	display: inline-block;
	text-align: center;
	padding-top: 190px;
}

div.home a {
	font-family: sans-serif;
	font-size: 50px;
	color: #FFF	
}

/****** See what this is like with % instead of px


.home {
	margin-top: 100px;
	border: 5px double #FFF;
	width: 400px;
	height: 300px;
	display: inline-block;
	text-align: center;
	padding-top: 190px;
}

div.home a {
	font-family: sans-serif;
	font-size: 50px;
	color: #FFF	
}*/

header {
	float: left;
	height: auto;
	width: 100%;
	padding-top: 20px;
	position: fixed;
	top: 0px;
	left: 0px;
	padding-bottom: 100px;
	background-color: #000;
	z-index: 99;
}

nav {
	height: 100%;
	width: 20%;
	float: left;
	position: fixed;
	padding-left: 30px;
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 20px;	
}

nav ul {
	list-style: none;
	margin-left: 20px; 

}

nav ul li {
	/*display: inline-block;*/
	margin: 25px;
}

	
h2{
	font-size:10px;
	margin:15px 0 0 0;
	line-height: 50px;
	font-family: Helvetica, Arial, sans-serif;
}
/*dfn {
	font-size:10px;
	font-family: Helvetica, Arial, sans-serif;
	color: #999999;
	font-style: normal;
}*/
body {
	/*font: Helvetica, Arial, sans-serif;*/
	color: #FFF;
	background-color: #000; 
}

a:active {
	text-decoration: none;
	/*color: #000000;*/
}


.logo { /*create responsive code to lessen font size for size is reduced*/
	border: 5px double #C93337;
	height: 50px;
    left: 0;
    right: 0;
	position: fixed;
	z-index: 99;
	background-color: #000;
	padding: 10px;

}

.logo_style {
	text-align: center;
	font-family: sans-serif;
	color: #C93337;
	font-size: 40px;
	z-index: 99;
}

a.title:link {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
	font-style: italic;
}
a.title:active {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
	font-style: italic;
}
a.title:visited {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
	font-style: italic;
}
a.title:hover {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
	font-style: italic;
}
.name {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFF;
	text-decoration: none;
	font-size: 16px;
	/*line-height: 26px;*/
}

.location {
	color: #5D3337;
}


a.name:link {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	/*line-height: 26px;*/
}
a.name:active {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
}
a.name:visited {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
}
a.name:hover {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
}
a.collaboration:link {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666666;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	width: 190px;
}
a.collaboration:active {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666666;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
}
a.collaboration:visited {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666666;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 16px;
	font-size: 12px;
}
a.collaboration:hover {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 16px;
	font-size: 12px;
}
.sub {
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666666;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 22px;
}


a.sub:link {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666666;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 22px;
}
a.sub:active {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666666;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 22px;	
}
a.sub:visited {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666666;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 22px;
	font-size: 14px;
}
a.sub:hover {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666666;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 22px;
	font-size: 14px;
}


a.press:link {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #999999;
	font-size: 14px;
	text-decoration: none;
	line-height: 14px;
}
a.press:active {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #999999;
	font-size: 14px;
	text-decoration: none;
	line-height: 14px;
}
a.press:visited {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #999999;
	font-size: 14px;
	text-decoration: none;
	line-height: 14px;
}
a.press:hover {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-decoration: none;
	line-height: 14px;
	color: #333333;
	text-decoration: none;
}
.artist_list {
	float: left;
	height: 678px;
	width: 950px;
	padding-left: 50px;
	padding-top: 167px;
	clear: left;
	padding-bottom: 50px;
}
.artist_list_left {
	height: auto;
	width: 175px;
	float: left;
	padding-right: 25px;
}
.artist_content {
	float: left;
	width: 724px;
	padding-top: 101px;
	padding-left: 250px;
}
#artist_list_123 {
	height: auto;
	width: 190px;
	border: 0px;
	float: left;
}
.artist_list_abc {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #CCCCCC;
}

.no_border {
	padding: 0px;
	border-width: 0px;
	margin: 0px;
	float: left;
}
.thumbs_border a {
	padding: 0px 25px 25px 0px;
	border-width: 0px;
	margin: 0px;
	float: left;
}
.side_bar {
	width: auto;
	height: 100%;
	position: fixed;
	left: inherit;
	right: 0px;
	background-color: #FFFFFF;
	float: right;
	z-index: 20;
}
.info_text {
	font-size: 10px;
	color: #666666;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 25px;
}
.blackout {
	color: #000;
	background-color: #000;
}